[MASTER]

[MESSAGE CONTROL]
disable=R,C,W

[NAMING CONVENTIONS]

argument-naming-style=snake_case

attribute_naming_style=snake_case

class-naming-style=PascalCase

class-attribute-naming-style=snake_case

const-naming-style=snake_case

function-naming-style=snake_case

inline-var-naming-style=snake_case

method-naming-style=snake_case

module-naming-style=snake_case

variable-naming-style=snake_case


[COMPLEXITY]

max-args=10

max-locals=20

max-returns=6

max-branches=15

max-statements=50

max-parents=7

max-attributes=20

max-public-methods=20

max-bool-expr=5


[FORMAT]

max-line-length=120

single-line-if-stmt=no

single-line-class-stmt=no

max-module-lines=1000

indent-string='    '

indent-after-paren=4

expected-line-ending-format=LF


[REFACTORING]

max-nested-blocks=5


[SIMILARITIES]

min-similarity-lines=4

ignore-comments=yes

ignore-docstrings=yes

ignore-imports=no


[TYPECHECK]

ignore-on-opaque-inference=no
generated-members=numpy.* ,torch.* ,cv2.* , cv.*


[VARIABLES]

allow-global-unused-variables=yes

